<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="false">

        <!-- <button mat-button (click)="sidenav.close()">Close</button> -->

        <button mat-icon-button (click)="sidenav.close()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-nav-list>
            <a mat-list-item routerLink="/editor" (click)="sidenav.close()">Editor</a>
            <a mat-list-item routerLink="/library" (click)="sidenav.close()">Library</a>
          </mat-nav-list> 
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="topnav">
            <span>YouTube Looper</span>     
        </div>
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>